<nav [ngClass]="'navbar navbar-expand-lg navbar-light bg-light'">
  <div [ngClass]="'collapse navbar-collapse'" id="navbarSupportedContent">
    <ul [ngClass]="'navbar-nav mr-auto'">
      <li [ngClass]="'nav-item active'">
        <a [ngClass]="'nav-link'" routerLink="/home" routerLinkActive="active">Home </a> 
      </li>
      <li [ngClass]="'nav-item'">
        <a [ngClass]="'nav-link'" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>