.main_content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, auto);
    align-items: center;
    padding-top: 0.2in;
    padding-bottom: 0.2in;
    margin-top: 0.5in;
    margin-bottom: 0.5in;
    grid-gap: 1em 1em;
    margin-right: auto;
    margin-left: auto;
}

.gerre{
    grid-row: 1;
    grid-column: 2 / span 2;
    justify-items: stretch;
    text-align: left;
}
.pagination{
    grid-row: 1;
    grid-column:6 / span 2;
    justify-items: stretch;
    text-align: center;
}

.listMovies{
    grid-row: 2;
    grid-column: 3 / span 4;
    justify-items: stretch;
    text-align: left;
}

.main_grid_items{
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: stretch;
    padding-bottom: 0.2in;
    margin-bottom: 0.5in;
    grid-auto-flow: dense;
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
}